*{
    padding: 0;
    margin: 0;
    font-family:  'Salesforce Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';   
}

.globalnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    z-index: 1000; 
    height: 72px;
    display:grid;
    align-items: center;
}

.nav-sales {
    margin-top: 10vh;
}



 a {
    text-decoration: none;
    color: #032d60; 
}


a:hover, .dropdown-menu a:hover  {
    color: #0176d3;
}

.watch-demos a:hover, .free-trial a:hover {
    color: white;
}


.navbar-nav>li{
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;
}  


.nav-nav, .nav-sales {

    height: 72px;
}

.navbar-nav, .utilitary-nav  {
    display: flex;
    list-style: none;    

}


.utilitary-nav>li, .navbar-nav>li {
    padding-left: 16px;  
}

.nav-container{
    display: flex;
    align-items: center;
    width: 548.213px;
    height: 44px;
}

.nav-header-logo {
    width: 45.33px;
    height: 32.02px;
    margin-right: 24px;
}

.contact-heading {
    text-decoration: underline;
    font-size: 14px;
    color:rgb(3, 45, 96);
    white-space: nowrap;
}


.phone-numbers {
    display: inline-block;
    margin: 0px 5px;
    vertical-align: bottom;
    text-align: center;
}

/*Tamanho icones*/
.icon-globe, .icon-globe-hover, .icon-search, .icon-search-hover, .icon-login, .icon-login-hover  {
    width: 18px;
    height: 18px;
}


/*Mostrar e esconder icon-search*/
.icon-search-hover {
    display: none;
}

.region-selector:hover .icon-search {
    display: none;
}

.region-selector:hover .icon-search-hover {
    display: inline-block;
}


/*Mostrar e esconder icon-globe*/
.icon-globe-hover {
    display: none;
}

.region-selector:hover .icon-globe{
    display: none;
}

.region-selector:hover .icon-globe-hover{
    display: inline-block; 
}

/*Mostrar e esconder icon-login*/
.icon-login-hover {
    display: none;
}

.region-selector:hover .icon-login{
    display: none;
}

.region-selector:hover .icon-login-hover{
    display: inline-block; 
}

.button-icon-login {
    background-color: transparent;
    border: none;
}

.region-selector:hover .text-login {
    color: #0176d3; 
}

/*Fazer o border-radius selection dos icons*/
.region-selector:hover {
    background-color: #0174d352;
    border: #0176d3;
    border-radius: 30px;
}


.utilitary-nav {
    display: flex;
    align-items: center;
}

.region-selector {
    display: flex;
    align-items: center; 
}

.text-login {
    margin-left: 3px;
    font-weight: 600;
}

.nav-part-two {
    align-items: center;
    display: inline-flex;
}

.button-watch-trial {
    padding-left: 16px;
}

.button-trial {
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
}

.free-trial {
    border: none;
    border-radius: 3px;
    padding: 8px 24px;
    background-color: #2e844a;
    width: 137.637px;
    height: 43.200px;
}



.free-trial:hover {
    background-color: #1c3326;
}

.nav-container-sales {
    display: flex;
    align-items: center;
}


.div-global-sales {
    border-top: 1px solid rgd(229, 229, 299);
    box-shadow: rgba(24, 24, 24, 0.08) 0px 0px 2px, rgba(24, 24, 24, 0.16) 0px 2px 4px 1px;
}

.nav-sales-header-logo{
    width: 86.888px;
    height: 32px;
}

.property-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.watch-demos {
    border: none;
    border-radius: 3px;
    padding: 8px 24px;
    background-color: #0176d3;
}

.watch-demos:hover {
    background-color: #1c3326;
}


/*Menu clicavel*/
.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
    width: 592px;
    height: 247.200px;
}

.dropdown-menu a{
    display: block;
    color: black;
}

.dropdown-left, .dropdown-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}


#drop:checked + .dropdown-menu {
    display: flex;
}


/* mian */
.Watch-keynote {
    background-color: #04e1cb;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-watch {
    font-size: 16px;
    font-weight: 700;
    font-family: "ITC Avant Garde", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} 

.link-watch-keynote {
    padding-left: 20px;
    font-weight: 200px;
    text-decoration: underline;

}

.link-watch-keynote:hover {
    color: rgb(3, 45, 96);
    text-decoration: none;
}

.main-section {
    background-color: #1c3326;
    height: 657.200px;
}

.main-section-secundary {
    background-color: aqua;
    height: 616px;
}

.main-section-third {
    background-color: blueviolet;
    height: 1023.2px;
}

.main-section-sucess {
    background-color: #DC143C;
    height: 507.2px;
}

.main-section-using {
    background-color: coral;
    height: 1687.2px;
}

.main-section-honor {
    background-color: rgb(80, 255, 100);
    height: 600.8px;
}

.main-section-maximize {
    background-color: rgb(255, 80, 208);
    height: 636.8px;
}

.main-section-movement {
    background-color: rgb(80, 255, 197);
    height: 488.450px;
}

.main-section-salesblazers {
    background-color: #FFFF00;
    height: 931.6px;
}

.main-section-keep {
    background-color: #B0E0E6;
    height: 859.13px;
}

.main-section-ready {
    background-color: #E6E6FA;
    height: 771.6px;
}

.main-section-top-footer {
    background-color: #EEE8AA;
    height: 438.09px;
}

.main-section-bottom-footer {
    background-color: #9932CC;
    height: 112px;
}